body {
  font-family: sans-serif;
  font-size: 150%;
}

.grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 150px 25px 1fr;
  grid-template-rows: 100px 1fr 100px;
  grid-template-areas:
    "header header header"
    "menu . body"
    "footer footer footer";
}

header {
  grid-area: header;
  background-color: indianred;
}

main {
  background-color: skyblue;
  grid-area: body;
}

nav {
  background-color: goldenrod;
  grid-area: menu;
}

footer {
  background-color: blue;
  grid-area: footer;
}
